.footer {
  background-color: black;
}

.footer-content {
  @include flex-column;
  align-items: center;
  text-align: center;

  &__title {
    text-transform: uppercase;
    color: $clr-ntrl-min;
    margin: rem(38) 0 rem(8) 0;
  }

  &__description {
    font-size: $fs-h3-mob;
    line-height: rem(20);
    color: $clr-bass-ltst;
    margin-bottom: rem(26);
  }

  &__social-icons {
    margin-bottom: rem(25);
  }

  &__contacts {
    font-size: $fs-h2-mob;
    line-height: rem(24);
    margin-bottom: rem(47);
  }

  &__address, &__tel, &__email {
    display: block;
    color: $clr-bass-ltst;
  }

  &__tel:hover, &__email:hover {
    color: $clr-base-hover;
  }

  &__address:after, &__tel:after {
    content: '/';
    margin: 0 rem(10) 0 rem(10);
  }
}

.social-icons {
  display: flex;

  &__item {
    margin: rem(6);
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__img {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 421px) {
  .footer-content {
    max-width: rem(684);

    &__title {
      margin: rem(57) 0 rem(22) 0;
    }

    &__description {
      font-size: $fs-h2;
      line-height: rem(28);
      margin-bottom: rem(37);
    }

    &__social-icons {
      margin-bottom: rem(37);
    }

    &__contacts {
      font-size: $fs-h2;
      line-height: rem(26);
      margin-bottom: rem(56);
    }
  }

}

@media (min-width: 620px) {
  .footer-content {
    &__contacts {
      display: flex;
    }
  }
}

@media (min-width: 861px) {
  .footer-content {
    &__description {
      max-width: rem(768);
    }
  }
}