.header {
  &__menu {
    position: fixed;
    top: rem(23);
    left: 83%;
    @include flex-column;
    align-items: flex-end;
  }

  &__hero {
    display: block;
    width: 100%;
    height: auto;
    margin: rem(83) auto rem(38) auto;
  }
}


.menu {
  &__icon {
    position: relative;
    width: rem(44);
    height: rem(37);
    cursor: pointer;
    background-color: black;
  }

  &__icon span, &__icon::after, &__icon::before {
    position: absolute;
    width: rem(17);
    height: rem(2);
    left: rem(14);
    background-color: $clr-ntrl-min;
    transition: all 0.3s ease;
  }

  &__icon::after, &__icon::before {
    content: '';
  }

  &__icon::before {
    top: rem(13);
  }

  &__icon span {
    bottom: rem(18);
    transform: scale(1), translate(0px, -50%);
  }

  &__icon::after {
    bottom: rem(14);
  }

  // transform icon if icon-active
  &__icon-active, &__icon-active::before, &__icon-active::after {
    transition: all 0.3s ease;
  }

  &__icon-active span {
    transform: scale(0);
  }

  &__icon-active::after {
    bottom: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  &__icon-active::before {
    top: 40%;
    transform: rotate(45deg) translate(0, 50%);
  }

  &__list {
    position: absolute;
    transform: translate(200%);
    top: rem(37);
    background-color: #F5F5F5;
    width: rem(182);
    transition: all .4s ease;
  }

  &__list-active {
    transform: translate(0);
    z-index: 10;
  }

  &__item {
    color: $clr-base-dk;
    text-transform: uppercase;
    padding: 0.406rem 0 0.219rem 0.75rem;

    &:first-child > a {
      color: #57A4A4;
    }
  }

  &__item:hover {
    background-color: $clr-base-hover;
  }

  &__item:last-child {
    padding-bottom: 0;
  }

  &__link {
    color: $clr-base-dk;
    line-height: 1.375rem; //22px
    font-size: $fs-micro-mob;
    letter-spacing: 0.069rem; //1.1px
  }

}


@media (min-width: 421px) {
  .header {
    &__hero {
      margin: rem(106) 0 rem(56) 0;
    }
  }
}

@media(min-width: 620px) {
  .header {
    &__menu {
      position: static;
      display: block;
      margin: rem(41) auto rem(43) auto;
    }

    &__hero {
      margin: 0 0 rem(56) 0;
    }
  }
  .menu {
    &__icon {
      display: none;
    }

    &__list {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(0);
      background-color: $clr-ntrl-min;
      width: 100%;
      transition: all .4s ease;
    }

    &__item {
      color: $clr-base-dk;
      padding: 0;
      margin: 0 rem(34) 0 0;
    }

    &__item:hover {
      background-color: $clr-base-hover;
    }

    &__item:last-child {
      margin: 0;
    }
  }
}

@media (min-width: 861px) {
  .header {

    &__menu {
      margin: rem(45) 0 rem(51) 0;
    }
    
  }
}