.inst {
  &__header {
    margin-bottom: rem(13);
  }

  &__title {
    text-transform: uppercase;
  }

  &__link {
    display: none;
  }

  &__shots {
    margin: rem(13) 0 rem(42) 0;
  }

  &__link-photo {
    display: none;

    &--active {
      display: block;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

}

@media (min-width: 421px) {
  .inst {
    background-color: #f7f7f7;
    padding-top: rem(47);

    &__title {
      visibility: hidden;
      position: relative;
    }

    &__title::after {
      content: '- Latest Instagram Shots';
      color: $clr-base-dk;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 115%;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(35);
    }

    &__link:hover {
      background-color: $clr-base-hover;
    }

    &__shots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 rem(50) 0;
    }

    &__link-photo {
      margin-right: rem(9);
    }

    &__image {
      max-width: rem(250);
      max-height: rem(249);
    }
  }
}

@media (min-width: 620px) {
  .inst {
    &__link {
      display: block;
      text-transform: uppercase;
      color: $clr-base-dk;
      font-size: rem(13);
      font-weight: $fw-bold;
    }
  }
}

@media (min-width: 861px) {
  .inst {
    &__link-photo {
      margin-right: rem(10);
    }

    &__image {
      max-width: rem(285);
      max-height: rem(285);
    }
  }
}

