.title {
  font-weight: $fw-bold;
  line-height: 1.375rem; //22px
  font-size: $fs-h2-mob;
  color: $clr-base-dk;
}

.section-title-news {
  text-transform: uppercase;
  margin-bottom: rem(23);
}

.news-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.469rem;
  row-gap: rem(28.5);
}

.news-card {
  display: none;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    @include flex-column;
  }

  &__image {
    width: rem(160);
    height: rem(140);
    margin-bottom: rem(11);
  }

  &__title {
    line-height: 1.875rem; // 30px
  }

  &__title:hover {
    background-color: $clr-base-hover;
  }

  &__meta-data {
    font-size: $fs-micro-mob;
    color: $clr-base-ltr;
  }

  &__description {
    display: none;
  }
}

.meta-data {
  position: relative;
  display: flex;
  line-height: 1.25rem; // 20px

  &__author::after {
    content: '/';
    margin: 0 rem(10) 0 rem(10);
  }

  &__comment {
    color: $clr-base-ltr;
  }

  &__comment:hover {
    background-color: $clr-base-hover;
  }

}

@media (min-width: 421px) {
  .title {
    font-size: $fs-h2;
  }
  .section-title-news {
    margin-bottom: rem(24);
  }
  .news-card-wrapper {
    margin-bottom: rem(60);
  }
  .news-card-wrapper {
    row-gap: rem(32);
  }
  .news-card {
    flex-direction: row;
    max-width: rem(585);

    &__image {
      margin-right: rem(21);
    }

    &__meta-data {
      font-size: $fs-h4;
      margin-bottom: rem(13);
    }

    &__description {
      display: block;
      font-size: $fs-h3;
      line-height: rem(26);
      color: $clr-base;
    }

  }
}

@media (min-width: 861px) {
  .news-card {
    flex-basis: 48%;

    &-wrapper {
      column-gap: rem(25);
    }
  }
}
