//Fonts
$ff-base: Roboto, sans-serif;
$fw-base: 400;
$fw-bold: 700;

//Fonts-size

/* base font size - applied at body / html level */
$fs-base: 1rem; //16px

//Mobile ver
/* heading font sizes */
$fs-h2-mob: 0.875rem; //14px
$fs-h3-mob: 0.75rem; //12px
/* smaller than heading font sizes */
$fs-micro-mob: 0.688rem; //11px

//Tablets-pc-ver
/* heading font sizes */
$fs-h2: 1rem; //16px
$fs-h3: 0.875rem; //14px
$fs-h4: 0.75rem; //12px

//Colors
//Base colors
$clr-base: #5C5C5C;
$clr-base-dk: #4E4E4E;
$clr-base-ltr: #7C7C7C;
$clr-bass-ltst: #B9B9B9;
//Base color hover
$clr-base-hover: #E5E5E5;

//Neutral
$clr-ntrl-min: #FEFEFE;

//Px to rem math
@use "sass:math";

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}