@import "reset";
@import "fonts";
@import "varibales";
@import "mixins";
@import "header";
@import "section__news";
@import "section__inst-shots";
@import "footer";

body {
  font-family: $ff-base;
  font-weight: $fw-base;
}

.container {
  padding: 0 rem(10);
  margin: 0 auto;
}

@media (min-width: 861px) {
  .container {
    max-width: rem(1200);
  }
}

.wrapper {
  @include flex-column;
}