<footer class="footer">
    <div class="footer-content container">
        <h2 class="footer-content__title title">- get in touch with us -</h2>
        <p class="footer-content__description">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor
            amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos
            mollisestor.</p>
        <ul class="footer-content__social-icons social-icons">

            <li class="social-icons__item"><a href="#"><img alt="rss" class="social-icons__img rss"
                                                            src="./img/social/RSS.png"></a></li>
            <li class="social-icons__item"><a href="#"><img alt="facebook" class="social-icons__img facebook"
                                                            src="./img/social/Facebook.png"></a></li>
            <li class="social-icons__item"><a href="#"><img alt="twitter" class="social-icons__img  twitter"
                                                            src="./img/social/Twitter.png"></a></li>
            <li class="social-icons__item"><a href="#"><img alt="dribble" class="social-icons__img  dribble"
                                                            src="./img/social/Dribble.png"></a></li>
            <li class="social-icons__item"><a href="#"><img alt="pinterest" class="social-icons__img  pinterest"
                                                            src="./img/social/Pinterest.png"></a></li>
        </ul>

        <div class="footer-content__contacts">
            <a class="footer-content__address" href="#">Moonshine St.14-05 Light City</a>
            <a class="footer-content__tel" href="tel:+00(123)4567890">T. +00 (123) 456 78 90</a>
            <a class="footer-content__email" href="mailto:first.last@email.com">first.last@email.com</a>
        </div>

    </div>
</footer>