<head>
    <meta charset="UTF-8">
    <title>@@title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="./css/style.min.css" rel="stylesheet">
    <link href="./img/favicon.png" rel="shortcut icon" type="image/x-icon">
</head>