<header class="header container">
    <nav class="header__menu menu">
        <div class="menu__icon">
            <span></span>
        </div>

        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="#">home</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">about us</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">our journal</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">projects</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">news</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">features</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">contact</a>
            </li>
        </ul>
    </nav>
    <img alt="brand-image" class="header__hero" src="./img/hero.png">
</header>