<section class="section-news container">
    <h2 class="section-title-news title">- our Recent posts</h2>
    <div class="news-card-wrapper">
        <div class="news-card">
            <a href="#"><img alt="Tea" class="news-card__image" src="./img/post-images/post-img-1.png"></a>
            <div class="news-card__details">
                <a class="news-card__title title" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                <div class="news-card__meta-data meta-data">
                    <div class="meta-data__author">Photography, Journal</div>
                    <a class="meta-data__comment" href="#">9 Comments</a>
                </div>
                <div class="news-card__description">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </div>
            </div>
        </div>
        <div class="news-card">
            <a href="#"><img alt="Tea" class="news-card__image" src="./img/post-images/post-img-2.png"></a>
            <div class="news-card__details">
                <a class="news-card__title title" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                <div class="news-card__meta-data meta-data">
                    <div class="meta-data__author">Photography, Journal</div>
                    <a class="meta-data__comment" href="#">9 Comments</a>
                </div>
                <div class="news-card__description">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </div>
            </div>
        </div>
        <div class="news-card">
            <a href="#"><img alt="Tea" class="news-card__image" src="./img/post-images/post-img-3.png"></a>
            <div class="news-card__details">
                <a class="news-card__title title" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                <div class="news-card__meta-data meta-data">
                    <div class="meta-data__author">Photography, Journal</div>
                    <a class="meta-data__comment" href="#">9 Comments</a>
                </div>
                <div class="news-card__description">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </div>
            </div>
        </div>
        <div class="news-card">
            <a href="#"><img alt="Tea" class="news-card__image" src="./img/post-images/post-img-4.png"></a>
            <div class="news-card__details">
                <a class="news-card__title title" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                <div class="news-card__meta-data meta-data">
                    <div class="meta-data__author">Photography, Journal</div>
                    <a class="meta-data__comment" href="#">9 Comments</a>
                </div>
                <div class="news-card__description">
                    Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis
                    vestibulum.
                </div>
            </div>
        </div>
    </div>

</section>