<section>
    <div class="inst">
        <div class="container">
            <div class="inst__header">
                <h2 class="inst__title title">- Last Instagram Shot</h2>
                <a class="inst__link" href="#">go to our instagram page -</a>
            </div>
            <div class="inst__shots">
                <a class="inst__link-photo" href="#"><img alt="bicycle" class="inst__image"
                                                          src="./img/instagram-shots/post-1.png"></a>
                <a class="inst__link-photo" href="#"><img alt="bicycle" class="inst__image"
                                                          src="./img/instagram-shots/post-2.png"></a>
                <a class="inst__link-photo" href="#"><img alt="bicycle" class="inst__image"
                                                          src="./img/instagram-shots/post-3.png"></a>
                <a class="inst__link-photo" href="#"><img alt="bicycle" class="inst__image"
                                                          src="./img/instagram-shots/post-4.png"></a>
            </div>
        </div>
    </div>

</section>